# .gitignore

# Next.js build and output folders
.next/
out/
node_modules/

# IDE/Editor specific files and folders
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
Thumbs.db

# Cache files
.cache/
.cache-loader/

# Logs and temporary files
*.log
npm-debug.log*

# Dependency lock files
package-lock.json
yarn.lock

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local
