# Node.js dependencies
.next/
node_modules/
out/

# IDE/Editor specific files and folders
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
Thumbs.db

# Cache files
.cache/
.cache-loader/

# Logs and temporary files
*.log
npm-debug.log*

# Dependency lock files
package-lock.json
yarn.lock

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Compiled output for Next.js
# Exclude the build folder during development
# Uncomment the next line when deploying
# .next/

# Compiled output (if applicable)
/out/

# Next.js public folder (if applicable)
/public/
