@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    background-color: #000;
  }
  
  .block {
    width: 100%;
    height: 450px;
    position: relative;
    background: linear-gradient(0deg, #000, #272727);
  }
  
  .block:before, .block:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
      #0000ff, #00ff00,#ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 20s linear infinite;
  }
  
  @keyframes steam {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .block:after {
    filter: blur(25px);
  }

  @keyframes burningText {
    33%, 99% {
      color: rgb(207, 112, 112);
      text-shadow: 10px 0px 10px #292220, 0 0 20px #ffea00;
    }
    66% {
      color: rgb(255, 0, 0);
      text-shadow: 0px 10px 10px rgb(164, 44, 1)32a, 0 0 25px #ff0000;
    }
  }
  
  .burning-effect {
    will-change: color, text-shadow;
    font-weight: bold;
    text-shadow: 0 0 10px #FF4500, 0 0 20px #FF4500;
    animation: burningText 3s linear infinite;
  }
  
  @layer base {
  :root {
        --radius: 0.5rem;
    }
}